{% extends 'Guest/Head.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <br><br><br><br><br><br>
    <center><h2><b>USER SIGN UP</b></h2></center>
    <br><br>
    <div id="tab" align="center">
    <form action="" method="post" enctype="multipart/form-data" id="UserForm" data-places-url="{% url 'webguest:Ajax_Place' %}">
        {% csrf_token %}
        <table border="2" align="center" width="400">
            <tr>
                <td><h1>Name</h1></td>
                <td><input type="text" name="txt_name" id=""></td>
            </tr>
            <tr>
                <td><h1>Contact</h1></td>
                <td><input type="text" name="txt_contact" id=""></td>
            </tr>
            <tr>
                <td><h1>Email</h1></td>
                <td><input type="text" name="txt_email" id=""></td>
            </tr>
            <tr>
                <td><h1>Gender</h1></td>
                <td>
                    <input type="radio" name="gender" value="Male"><h3>Male</h3>
                    <input type="radio" name="gender" value="Female"><h3>Female</h3>
                    <input type="radio" name="gender" value="Others"><h3>Others</h3>
                </td>
            </tr>
            <tr>
                <td><h1>Age</h1></td>
                <td><input type="number" name="txt_age" id=""></td>
            </tr>
            <tr>
                <td><h1>Address</h1></td>
                <td><textarea name="txt_address" id="" cols="35" rows="8"></textarea></td>
            </tr>
            <tr>
                <td><h1>District</h1></td>
                <td><select name="sel_district" id="dist">
                    <option value="">-----Select-----</option>
                    {% for i in DS %}
                    <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td><h1>Place</h1></td>
                <td><select name="sel_place" id="plc">
                    <option value="">-----Select-----</option>
                </select></td>
            </tr>
            <tr>
                <td><h1>Photo</h1></td>
                <td><input type="file" name="txt_photo" id=""></td>
            </tr>
            <tr>
                <td><h1>Proof</h1></td>
                <td><input type="file" name="txt_proof" id=""></td>
            </tr>
            <tr>
                <td><h1>Password</h1></td>
                <td><input type="text" name="txt_password" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="txt_register" value="Register">
                    <input type="reset" name="txt_cancel" value="Cancel">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("#dist").change(function () {
            var did = $(this).val();
            var ur = $("#UserForm").attr("data-places-url");
            $.ajax({
                url: ur,
                data: { DIST: did, },
                success: function (data) {
                    $("#plc").html(data);
                },
            });
        });
</script>

<br><br><br><br>

{% endblock content %}