{% extends 'YogaTrainer/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <center><h2><b>YOGA COURSE</b></h2></center>
    <br><br>
    <div id="tab" align="center">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <td><h1>Details</h1></td>
                <td><textarea name="txt_details" id="" cols="30" rows="8"></textarea></td>
            </tr>
            <tr>
                <td><h1>Video</h1></td>
                <td><input type="file" name="video_file" id=""></td>
            </tr>
            <tr>
                <td><h1>Day</h1></td>
                <td><input type="text" name="txt_day" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><h2>
                    <input type="submit" value="Save" name="save">
                    <input type="reset" value="Reset" name="cancel"></h2>
                </td>
            </tr>
        </table>

        <br><br><br>
        <table align="center" border="1">
            <tr>
                <th><h2>SI NO</h2></th>
                <th><h2>Package Name</h2></th>
                <th><h2>Date</h2></th>
                <th><h2>Details</h2></th>
                <th><h2>Video</h2></th>
                <th><h2>Day</h2></th>
                <th><h2>Action</h2></th>
            </tr>
            {% for i in COURSE %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.package.package_name}}</td>
                <td width="300">{{i.course_details}}</td>
                <td><video width="120" height="120" controls autoplay><source src="{{i.course_video.url}}" type="video/mp4"></video></td>
                <td>{{i.course_day}}</td>
                <td>{{i.uploaded_date}}</td>
                <td><a href="{% url 'webyoga:del_course' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
</body>
</html>

<br><br><br><br><br><br>
{% endblock content %}