{% extends 'FitnessTrainer/Head.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <center><h2><b>CHANGE PASSWORD</b></h2></center>
    <br><br>
    <div id="tab" align="center">
    <form action="" method="post">
        {% csrf_token %}
        <table border="2" align="center" width="400">
            <tr>
               <td><h1>Current Password</h1></td>
               <td><input type="text" name="txt_cpassword" id=""></td> 
            </tr>
            <tr>
                <td><h1>New Password</h1></td>
                <td><input type="text" name="txt_npassword" id=""></td>
            </tr>
            <tr>
                <td><h1>Confirm Password</h1></td>
                <td><input type="text" name="txt_cnpassword" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><h2>
                    <input type="submit" name="btn_change" value="Change">
                    <input type="reset" name="btn_cancel" value="Cancel"></h2>
                </td>
            </tr>
        </table>
        {{ER}}
    </form>
</div>
</body>
</html>


<br><br><br><br><br><br>
{% endblock content %}