
{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fit-X</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Main/assets/img/favicon.ico' %}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'Main/assets/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'Main/assets/css/slicknav.css' %}">
	<link rel="stylesheet" href="{% static 'Main/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Main/assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'Main/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'Main/assets/css/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'Main/assets/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'Main/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Main/assets/css/animated-headline.css' %}">
	<link rel="stylesheet" href="{% static 'Main/assets/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'Main/assets/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'Main/assets/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'Main/assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'form.css' %}">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'Main/assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid" style="background-color: rgb(243, 67, 67);">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="{% static 'Main/assets/img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'webuser:Home' %}">Home</a></li>
                                            <li><a href="{% url 'webuser:ProductSearch' %}">Product Search</a></li>
                                            <li><a href="{% url 'webuser:myCart' %}">My Cart</a></li>
                                            <li><a href="{% url 'webuser:Myorder' %}">My Orders</a></li>   
                                            <li><a href="{% url 'webuser:SearchTrainers' %}">SearchTrainers</a></li>
                                            <li><a href="{% url 'webuser:MyBookings' %}">My Bookings</a></li>
                                            <li><a href="#">Profile</a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'webuser:MyProfile' %}">MyProfile</a></li>
                                                    <li><a href="{% url 'webuser:EditProfile' %}">EditProfile</a></li>
                                                    <li><a href="{% url 'webuser:ChangePassword' %}">ChangePassword</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Misc</a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'webuser:Complaint' %}">Complaints</a></li>
                                                    <li><a href="{% url 'webuser:Feedback' %}">Feedbacks</a></li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="{% url 'webuser:logout' %}" class="btn header-btn">LogOut</a>
                                </div>
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>



     <!-- JS here -->

     <script src="{% static 'Main/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
     <!-- Jquery, Popper, Bootstrap -->
     <script src="{% static 'Main/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
     <script src="{% static 'Main/assets/js/popper.min.js' %}"></script>
     <script src="{% static 'Main/assets/js/bootstrap.min.js' %}"></script>
     <!-- Jquery Mobile Menu -->
     <script src="{% static 'Main/assets/js/jquery.slicknav.min.js' %}"></script>
 
     <!-- Jquery Slick , Owl-Carousel Plugins -->
     <script src="{% static 'Main/assets/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'Main/assets/js/slick.min.js' %}"></script>
     <!-- One Page, Animated-HeadLin -->
     <script src="{% static 'Main/assets/js/wow.min.js' %}"></script>
     <script src="{% static 'Main/assets/js/animated.headline.js' %}"></script>
     <script src="{% static 'Main/assets/js/jquery.magnific-popup.js' %}"></script>
 
     <!-- Date Picker -->
     <script src="{% static 'Main/assets/js/gijgo.min.js' %}"></script>
     <!-- Nice-select, sticky -->
     <script src="{% static 'Main/assets/js/jquery.nice-select.min.js' %}"></script>
     <script src="{% static 'Main/assets/js/jquery.sticky.js' %}"></script>
     
     <!-- counter , waypoint,Hover Direction -->
     <script src="{% static 'Main/assets/js/jquery.counterup.min.js' %}"></script>
     <script src="{% static 'Main/assets/js/waypoints.min.js' %}"></script>
     <script src="{% static 'Main/assets/js/jquery.countdown.min.js' %}"></script>
     <script src="{% static 'Main/assets/js/hover-direction-snake.min.js' %}"></script>
 
     <!-- contact js -->
     <script src="{% static 'Main/assets/js/contact.js' %}"></script>
     <script src="{% static 'Main/assets/js/jquery.form.js' %}"></script>
     <script src="{% static 'Main/assets/js/jquery.validate.min.js' %}"></script>
     <script src="{% static 'Main/assets/js/mail-script.js' %}"></script>
     <script src="{% static 'Main/assets/js/jquery.ajaxchimp.min.js' %}"></script>
     
     <!-- Jquery Plugins, main Jquery -->	
     <script src="{% static 'Main/assets/js/plugins.js' %}"></script>
     <script src="{% static 'Main/assets/js/main.js' %}"></script>




    {% block content %}


    {% endblock content %}

    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="{% static 'Main/assets/img/gallery/section_bg03.png' %}">
            <div class="container">
                <div class="footer-top footer-padding">
                    <!-- Footer Menu -->
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>COMPANY</h4>
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Company</a></li>
                                        <li><a href="#"> Press & Blog</a></li>
                                        <li><a href="#"> Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Open hour</h4>
                                    <ul>
                                        <li><a href="#">Monday 11am-7pm</a></li>
                                        <li><a href="#"> Tuesday-Friday 11am-8pm</a></li>
                                        <li><a href="#"> Saturday 10am-6pm</a></li>
                                        <li><a href="#"> Sunday 11am-6pm</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>RESOURCES</h4>
                                    <ul>
                                        <li><a href="#">Home Insurance</a></li>
                                        <li><a href="#">Travel Insurance</a></li>
                                        <li><a href="#"> Car Insurance</a></li>
                                        <li><a href="#"> Business Insurance</a></li>
                                        <li><a href="#"> Heal Insurance</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{% static 'Main/assets/img/logo/logo2_footer.png' %}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">GThe trade war currently ensuing between te US anfd several natxions around thdhe globe, most fiercely with.</p>
                                    </div>
                                </div>
                                <!-- Footer Social -->
                                <div class="footer-social ">
                                    <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

   
    
    </body>
</html>