{% extends 'ZumbaTrainer/Head.html' %}
{% load static %}
{% block content %}
<html>
    <title>Complaint</title>
    <body><br><br> <br><br><br><br><br><br><br><br> 
      
        <br><br><h1 align="center" style="color: 0F172B; font-weight: bold; font-style: inherit; font-family: 'Times New Roman',Times, seif;">COMPLAINT</h1><br><br>
            <form method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <div id="tab">
             <table border="1" align="center" cellpadding="10" style="border-collapse:collapse">
                <tr><td>Title</td>
                    <td><input type="text" name="title" autocomplete="off" required=""></td>
                </tr>
            <tr><td>Content</td>
                <td><textarea name="content" autocomplete="off" required=""></textarea></td></tr>
            <tr>
        <td align="center" colspan=2><input type="submit" name="btn" value="Send">
        <input type="submit" name="btn" value="Cancel"></td>
     </tr>
</table>
</div>
<br><br> <div id="tab">
            <table border="1" align="center" cellpadding="10" style="border-collapse:collapse">
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>View Replay</th>
                </tr>
                {%for i in seld %}
                <tr>
                    <td>{{i.date}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.content}}</td>
                    <td>
                        {% if i.c_status == 0 %}
                        <p>Not Replyed</p>
                        {% else %}
                        <p>{{i.reply}}</p>
                        {% endif %}
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </form>
</body>
</html>
{% endblock content %}